# MSSQL DB Connection Template  
### using pyodbc library

### Installing Libraries

In [4]:
#installing packages
!pip install pyodbc pandas seaborn  matplotlib numpy xgboost scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (5.2.0)
Requirement already satisfied: pandas in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (2.3.3)
Requirement already satisfied: seaborn in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (0.13.2)
Requirement already satisfied: matplotlib in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (3.10.6)
Requirement already satisfied: numpy in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (2.2.6)
Requirement already satisfied: xgboost in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (3.0.5)
Requirement already satisfied: scikit-learn in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (1.7.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (from pandas) (2025.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (from pandas) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: cycler>=0.10 in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: pillow>=8 in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: packaging>=20.0 in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (from matplotlib) (25.0)
Requirement already satisfied: scipy in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (from xgboost) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in c:\users\fuad.jamali\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 23.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

### Importing Libraries

In [5]:
#importing libraries
import pyodbc
import pandas as pd
import os

### Connecting to Database

In [6]:
# Define connection parameters
server = 'rebates-mssql-2019-2-dev.con8g81q8rff.us-east-1.rds.amazonaws.com'  # e.g., 'your-db-name.region.rds.amazonaws.com'
database = 'dev-rebate-merit'

# Get credentials from environment
username = os.getenv("DB_USER_DEV")
password = os.getenv("DB_PASSWORD_DEV")

# override for local testing
#username = '****'
#password = '***'
driver = '{ODBC Driver 17 for SQL Server}'  # Make sure this driver is installed

In [7]:
# Create connection string
connection_string = f'''
    DRIVER={driver};
    SERVER={server};
    DATABASE={database};
    UID={username};
    PWD={password};
    Encrypt=no;
    TrustServerCertificate=yes;
    Connection Timeout=30;
'''

try:
    conn = pyodbc.connect(connection_string)
    print("✅ Connection successful!")
except Exception as e:
    print("❌ Connection failed:", e)

✅ Connection successful!

### Retrieving Data form Database

In [8]:
# Define your SQL query
query = '''

        WITH NLP_Sales AS 
            (
                SELECT sid.[orderdate] as [Date], SID.PayeeCustomerAccount As [Customer], SUM(SID.InvAmt) as [Sales]
                FROM SalesInvoiceDetail SID
                JOIN batch B ON SID.batchid = B.id 
                    AND B.schemeid IN (6918,6401)
                JOIN CustomerMaster CM on SID.PayeeCustomerAccount = CM.CustomerAccount
                    AND BatchNo IN (15)
                    AND ((b.BatchTypeId = 1 AND MonthlyPaymentApplicable = 1))
                --OR (b.BatchTypeId = 2 and MonthlyPaymentApplicable = 0))
                    AND SID.salesinvoicetypeid IN (1, 12)
                    AND excluded = 0 AND  category = 'Nobivac Vaccines'
                --WHERE SID.CustomerAccount = '0000008687'
                GROUP BY sid.[orderdate], SID.PayeeCustomerAccount 
                
            )

            SELECT * FROM NLP_Sales
            Order By [Date]

        '''

# Execute and store results in a pandas DataFrame
try:
    df = pd.read_sql(query, conn)
    print("✅ Query executed and data loaded into DataFrame.")
    display(df.head())  # Show first few rows
except Exception as e:
    print("❌ Failed to execute query:", e)

C:\Users\Fuad.Jamali\AppData\Local\Temp\ipykernel_20744\1241077748.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

✅ Query executed and data loaded into DataFrame.

        Date    Customer    Sales
0 2023-01-01  0010077313   936.00
1 2023-01-01  0010279505  5796.25
2 2023-01-02  0010013607   464.75
3 2023-01-02  0010021818  4207.50
4 2023-01-02  0000008687   982.75

In [9]:
df.shape

(6586, 3)